services:
  app_proxy:
    environment:
      APP_HOST: web
      APP_PORT: 8888
      PROXY_AUTH_ADD: "false"

  web:
    image: nginx:alpine
    restart: on-failure
    command: sh -c "sed -i 's/listen\s*80;/listen 8888;/' /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"
    volumes:
      - ${APP_DATA_DIR}/web:/usr/share/nginx/html:ro

  teamspeak:
    image: teamspeaksystems/teamspeak6-server:latest
    restart: on-failure
    init: true
    network_mode: host
    environment:
      - TSSERVER_LICENSE_ACCEPTED=accept
      - TSSERVER_DB_SQLITE_PATH=/var/tsserver/ts3server.sqlitedb
      - TSSERVER_INSTANCE_PASSWORD=senha_admin
    volumes:
      - ${APP_DATA_DIR}/data/tsserver:/var/tsserver
