services:
  app_proxy:
    environment:
      APP_HOST: thales-teamspeak6_web_1
      APP_PORT: 80
      PROXY_AUTH_ADD: "false"

  web:
    image: nginx:alpine
    restart: on-failure
    volumes:
      - ${APP_DATA_DIR}/web:/usr/share/nginx/html:ro

  teamspeak:
    image: teamspeaksystems/teamspeak6-server:latest
    restart: on-failure
    init: true
    environment:
      - TSSERVER_LICENSE_ACCEPTED=accept
      - TSSERVER_DB_SQLITE_PATH=/var/tsserver/ts3server.sqlitedb
      - TSSERVER_INSTANCE_PASSWORD=senha_admin
    volumes:
      - ${APP_DATA_DIR}/data/tsserver:/var/tsserver
    ports:
      - "9987:9987/udp"
      - "10011:10011/tcp"
      - "30033:30033/tcp"
      - "10080:10080/tcp"
