services:
  app_proxy:
    environment:
      APP_HOST: thales-unifi-controller_server_1
      APP_PORT: 8443
      PROXY_AUTH_ADD: "false"

  server:
    image: lscr.io/linuxserver/unifi-controller:8.6.9
    init: true
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
    volumes:
      - ${APP_DATA_DIR}/data/config:/config
    ports:
      - "3478:3478/udp"
      - "10001:10001/udp"
      - "8080:8080"
    restart: on-failure
